@media(max-width: 400px){
    .arrows {
        display: none;
    }

    .navigation {
        display: none;
    }

    .navbar {
        display: none;
    }

    .content h2 {
        font-size: 2rem;
    }
    
    .content h3 {
        font-size: 1rem;
        margin: 0;
    }

    .content p {
        font-size: .8rem;
        margin-bottom: 20px;
        padding: 0 10px;
        width: 250px;
    }
    
    .content a {
        font-size: .8rem;
        padding: 5px 10px;
    }

    .section-content h3{
        line-height: 1.4rem;
        font-size: 1rem;
    }
    
    #about-us h3 {
        font-size: 2rem;
    }
    .section-content p {
        padding: 0 10%;
        font-size: .6rem;
        line-height: 2;
    }

    .section2-content {
        text-align: center;
        margin-bottom: 40px; 
    }

    .section2-content h3{
        font-size: 1.1rem;
        margin-top: 10%;
    }

    .section2-content h3{
        line-height: 1.4rem;
    }

    .section2-content p {
        font-size: .8rem;
        margin: 0 0 40px 0;
    }

    .section2-content a {
        font-size: .8rem;
    }

    .section2-img img {
        width: 200px;
        height: 300px;
        padding: 40px;
        margin: auto;  
    }

    #sperator.img1 {
        background: url('../img/s-img1.jpeg') center center no-repeat;
    }

    #sperator.img2 {
        background: url('../img/s-img1.jpeg') center center no-repeat;
    }

    #sperator {
        display: none;
    }

    iframe {
        height: 200px;
        width: 280px;
    }

    #usage {
        margin-top: 0;
    }
    

    .usage-content {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .usage-content h3 {
        line-height: 1.4rem;
        font-size: 1.1rem;
    }

    .usage-content p {
        font-size: .8rem;
    }
 

    #about-us {
        min-height: 400px;
    }

    #map_container {
        padding: 40px 10px;
    }

    #contact {
        padding: 30px;
    }
    
    .touch {
       padding: 30px;
    }

    #contact h1{
        font-size: 1.5rem;
        line-height: 1.4rem;
    }
    
    #contact p {
        font-size: .8rem;
    }
    
    #contact a{
        font-size: 2rem;
        padding: 0 10px;
    }

    .icons {
        
    }

    .touch h1 {
        font-size: 1.5rem;   
        line-height: 1.4rem;   
    }

    .footer {
        font-size: .8rem;
    }

    .touch form {
        width: 100%;
    }
}


@media(max-width: 900px){
    .content h2 {
        font-size: 200%;
    }

    .content p {
        font-size: 100%;
    }

    .content a {
        font-size: 100%;
    }

    .section2-content h3{
        font-size: 150%;
    }

    #sperator {
        min-height: 300px;
        overflow: hidden;
    }

    iframe {
        height: 250px;
        width: 400px;
        resize: both;
        overflow: auto;
        margin: auto;
      }

      .usage-content h3 {
        font-size: 150%;
      }

      #map_container {
        padding: 30px 30px;
    }

    #about-us {
        min-height: 400px;
    }

    .section-content p {
        font-size: 100%;
        margin-bottom: 40px;
    }

    #about-us h3 {
        font-size: 250%;
    }

    #contact h1{
        font-size: 250%;
    }

    #contact p {
        font-size: 120%;
    }

    .touch h1 {
        font-size: 250%;
    }
}